/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applichiamo il nuovo font a tutto il sito */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* Usiamo un colore di sfondo molto chiaro per un look pulito */
  background-color: #f8fafc; 
  color: #334155; /* Colore testo base (grigio scuro morbido) */
}

/* Personalizzazione Barra di Scorrimento (Scrollbar) per renderla più moderna */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #A8BCA1; /* Il tuo verde menta */
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7B8F71; /* Verde più scuro al passaggio del mouse */
}
