/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inclusione del font Poppins (lo importiamo nel body) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Usiamo il nuovo font */
  background-color: #f4fbf8; /* Sfondo molto chiaro */
  color: #4a4a4a;
}

/* Scrollbar più discreta */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #7B8F71;
  border-radius: 3px;
}
